body {
    margin: 1em;
    background: red;
    font-family: "Quicksand";
    text-align: center;
    margin: 0 0 10px 0;
}

game {
    display: inline;
    /* DO NOT CHANGE display: inline */
}

.card {
    display: inline-block;
    /* DO NOT CHANGE display: inline-block */
    background-color: rgba(0, 0, 0, 0.37);
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin: 5px;
    border: 2px solid black;
}